.product-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.product-ul {
  position: relative;

  display: flex;
  flex: 1;
  flex-flow: row wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;

  max-width: 1620px;
  margin: 0 auto;
  padding: 20px;

  background-color: var(--bg-dark);
}
