.product-ul {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;

  max-width: 1440px;
  margin: auto;
  padding: 20px;

  background-color: var(--bg-dark);
}

.product-li {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

  max-width: 300px;
  height: 350px;
  padding: 20px;
  border: 1px solid var(--border-muted);
  border-top: 1px solid var(--highlight);
  border-radius: 1rem;

  background: var(--gradient);

  transition: all 0.5s ease;
}

.product-li:hover {
  transform: scale(1.05);
  background: var(--gradient-hover);
  box-shadow: 0 0 20px var(--text);
}

.product-li-title {
  font-size: 1.5rem;
  color: var(--text);
}

.product-li-description {
  overflow: hidden;
  font-size: 1.2rem;
  color: var(--text-muted);
}
