.details-wrapper {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  padding: 20px 0;

  background: var(--gradient-hover);
  background: #00000017;
  backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  box-shadow: -20px 0 200px rgb(0 0 0 / 30%);

  animation-name: open;
  animation-duration: 0.5s;
}

@keyframes open {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

.details {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;

  min-width: 500px;
  max-width: 500px;
  height: 100%;
  padding: 20px;
  border-radius: 1rem;

  text-decoration: none;

  background: transparent;

  transition: all 0.5s ease;
}

.details-title {
  font-size: 1.5rem;
  color: var(--text);
}

.details-description {
  font-size: 1.2rem;
  line-height: 27px;
  color: var(--text-muted);
}

.detail-wrapper {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;

  min-width: 100%;
  height: 100%;
  padding: 0;
}

@media screen and (width <= 658px) {
  .details {
    min-width: 100vw;
  }
}
