* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color-scheme: dark;
}

body {
  min-height: 100vh;
}

.disabled {
  pointer-events: none;
  cursor: default;

  color: rgb(104 104 104 / 40%) !important;

  background-color: rgb(71 71 71 / 40%) !important;
  filter: grayscale(80%) brightness(80%);
}
