* {
  box-sizing: border-box;
  font-family: monospace;
  color-scheme: dark;
}

:root {
  --bg-dark: oklch(10% 0.06 297deg);
  --bg: oklch(15% 0.06 297deg);
  --bg-light: oklch(20% 0.06 297deg);
  --text: oklch(96% 0.1 297deg);
  --text-muted: oklch(76% 0.1 297deg);
  --highlight: oklch(50% 0.12 297deg);
  --border: oklch(40% 0.12 297deg);
  --border-muted: oklch(30% 0.12 297deg);
  --primary: oklch(76% 0.12 297deg);
  --secondary: oklch(76% 0.12 117deg);
  --danger: oklch(70% 0.12 30deg);
  --warning: oklch(70% 0.12 100deg);
  --success: oklch(70% 0.12 160deg);
  --info: oklch(70% 0.12 260deg);
  --gradient: linear-gradient(0deg, var(--bg) 97%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
}

body {
  min-height: 100vh;
  background-color: var(--bg-dark);
}

h1 {
  text-align: center;
}

li {
  list-style-type: none;
}
